*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lato', sans-serif;
}
span{
    color: #E55473;
}
.primary-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
}
.primary-p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.primary-btn{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
/* header style start here */
.header-container{
    background-color: rgba(229, 84, 115, 0.1);
}
.head-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 80px 0px 80px;
    gap: 50px;
}
.head-title{
    color: #272727;
    font-family: Lato;
    font-size: 48px;
}
.header-content{
    margin-top: -70px;
    margin-bottom: 0px;
}
.head-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    margin: 30px 0px;
}
/* header style end here */

/* banner style start here */
.banner-content{
    text-align: center;
    padding-top: 100px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 50%;
    margin: auto;
    padding: 20px 0px;
}
.Banner-details{
    height: 100vh;
}
.banner-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 120px;
    gap: 20px;
}
.banner-img-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.banner-img-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.banner-img-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.banner-img-1 img{
    padding: 74px 15px 0px 0px;
}
.banner-img-2 img{
    padding: 49px 0px 84px 0px;
}
.banner-img-3 img{
    padding: 30px 15px 0px 30px;
}
.banner-title{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
}
.banner-title a{
    color: #272727;
    font-size: 20px;
    line-height: 30px;
}

/* banner style ends here */

/* conatct style start here */
.contact-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 50px 100px;
}
.contact-type{
    text-align: center;
}
.contact-type img{
    padding: 20px;
}
.contact-info{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 17px;
    line-height: 16px;
    margin-bottom: 50px
}
/* contact style ends */

/* sales start here */
.sales-describtion{
    width: 50%;
    margin: auto;
}

.sales-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 50px 100px;
    margin-bottom: 80px;
}

/* sales style ends here */

/* social info start here */
.social-description{
    text-align: center;
    margin: 20px 0px;
}

/* social info ends here */

/* card style start */
.card-section>div>img{
    height: 250px;
    width: 250px;
}
.card-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px 100px;
}

/* card style ends */

/* coupon section style start here */
.coupon{
    width: 53%;
    margin: auto;
    text-align: center;
    padding: 100px 200px;
    background-image: url('images/subcribe-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
input{
    border-radius: 8px;
    background-color: #FFF;
    border: none;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    padding: 20px 200px 20px 20px ;
}
/* footer style start here */
footer{
    margin-top: 80px;
    background-color:#111010;
    padding: 100px 500px;
}
.footer-title{
    color: #FFF;
    font-size: 48px;
}
.footer-describtion{
    color: rgba(255, 255, 255, 0.70);
    line-height: 15px;
    text-align: center;
    font-size: 10px;
    padding: 0px 15px;
    margin: 20px 0px;
}
.copyright{
    color: rgba(255, 255, 255,0.4);
    padding: 5px;
    width: 130%;
}